on:
  push:
    tags:
      - "v*"
name: Deploy Extension
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install dependencies
        run: pnpm install
      - name: Update version from tag
        run: |
          TAG=${GITHUB_REF#refs/tags/v}
          if [[ $TAG == *"-pre-release" ]]; then
            VERSION=${TAG%-pre-release}
            echo "Updating version to $VERSION (pre-release)"
            npm pkg set version="$VERSION"
          else
            echo "Using tag version $TAG"
            npm pkg set version="$TAG"
          fi
      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v2
        id: publishToOpenVSX
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
          dependencies: false
          preRelease: ${{ contains(github.ref, '-pre-release') }}
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ steps.publishToOpenVSX.outputs.vsixPath }}
          dependencies: false
          preRelease: ${{ contains(github.ref, '-pre-release') }}
